@model DK.Web.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Quản lý tài sản";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>


    @*<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>*@
    <link href="~/Content/login.css" rel="stylesheet" />

</head>
<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Quản lý tài sản - đăng nhập</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
            <div class="login-form">
                <div class="sign-in-htm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="group">
                            <label for="username" class="label">Tên đăng nhập</label>
                            <input type="text" class="input" name="username">
                        </div>
                        <div class="group">
                            <label for="password" class="label">Mật khẩu</label>
                            <input type="password" class="input" data-type="password" name="password">
                        </div>
                        <div class="group">
                            <input id="check" value="true" type="checkbox" class="check" checked name="rememberMe">
                            <label for="check"><span class="icon"></span> Ghi nhớ mật khẩu</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Đăng nhập">
                        </div>
                    }
                    <div class="hr"></div>
                    @*<div class="foot-lnk">
                        <a href="#forgot">Quên mật khẩu?</a>
                    </div>*@
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email Address</label>
                        <input id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
