Source/.vs/
Source/packages/
Source/DK.Web/bin/
Source/DK.Web/obj/
Source/DK.Services/obj/
Source/DK.Services/bin/
Source/DK.Services.Specs/obj/
Source/DK.Web.Specs/obj/
Source/DK.Services.Specs/bin/
Source/DK.Web.Specs/bin/
Source/DK.Application/bin/
Source/DK.Application/obj/
Source/.vs/DK/v14/.suo
Source/DK.Framework/obj/
Source/DK.Framework/bin/
publish/
/Source/MongoDB.AspNet.Identity/bin/
/Source/MongoDB.AspNet.Identity/obj/
