@model IEnumerable<DK.Application.Models.Type>

<table class="table mg-b-0" cellspacing="0">
    <tr>
        <th>STT</th>
        <th>
            Tên đợt kiểm kê
        </th>
        <th></th>
    </tr>

    @{
        var stt = 1;
        foreach (var item in Model)
        {
            <tr class="stat even">
                <td class="ac">
                    @(stt++)
                </td>
                <td>
                    <a href="@Url.Action("Detail", new { item.Id, returnUrl = Request.RawUrl})">@item.Title</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { item.Id, returnUrl = Request.RawUrl})" class="DeleteItem text-danger" onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa</a>
                </td>
            </tr>
        }
    }
</table>

