@model DK.Web.Core.PagerViewModel
@{
    ViewBag.Title = "Lịch sử kiểm kê";
}

<div class="row mt-2">
    <div class="col-12">
        <div class="card shadow-base bd-0">
            <div class="table-responsive">
                @Html.Partial("_IndexTable", Model.Items)
            </div>
        </div>
        @Html.Partial("_PagerPartial", Model)
    </div>
</div>

@section Scripts {
    <script>
        //$(document).ready(function () {
        //    $('.report').click(function () {
        //        $("#pattern").val($(this).data('pattern'));
        //        $("#frmSearch").submit();
        //    });
        //});
    </script>
}