@model DK.Web.Core.PagerViewModel
@{
    ViewBag.Title = "Danh sách các đợt kiểm kê";
}

<div class="row mt-2">
    <div class="col-12">
        <div class="card shadow-base bd-0">
            <div class="table-responsive">
                @Html.Partial("_IndexTable", Model.Items)
            </div>
        </div>
        @Html.Partial("_PagerPartial", Model)
    </div>
</div>