@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right  d-none hidden" }))
    {
        @Html.AntiForgeryToken()
    }

    <a href="#@Url.Action("Manage", "Account")" class="nav-link nav-link-profile" data-toggle="dropdown">
        <span class="logged-name hidden-md-down">@User.Identity.GetUserName()</span>
        <img src="~/Content/images/user.png" class="wd-32 rounded-circle" alt="">
    </a>
    <div class="dropdown-menu dropdown-menu-header wd-200">
        <ul class="list-unstyled user-profile-nav">
            <li>
                <a href="javascript:void(0)" onclick="$('#logoutForm').submit()"><i class="icon ion-power"></i> Thoát</a>
            </li>
        </ul>
    </div><!-- dropdown-menu -->
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Login">Login</a>
        </li>
    </ul>
}
