@{
    var listMenu = DK.Application.Models.Type.MenuCategories;
}


<a href="/Graph/Index" data-href="Index/Graph/Detail" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon ion-ios-ionic-outline tx-20"></i>
        <span class="menu-item-label">Quản lý tài sản</span>
    </div>
</a>

@foreach (var item in listMenu)
{
    <a href="/Category/Index/@item" data-href="Index/Category/NewOrEdit" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-folder-outline tx-20"></i>
            <span class="menu-item-label">@item</span>
        </div>
    </a>
}