@using DK.Application.Models
@{
    var listMenu = DK.Application.Models.Type.MenuCategories;
    var icons = new Dictionary<string, string>
{
        {TypeConstant.ChungLoai, "ion-ios-color-filter-outline"},
        {TypeConstant.NguonKinhPhi, "ion-social-usd-outline"},
        {TypeConstant.NguonKinhPhiKhac, "ion-social-usd-outline"},
        {TypeConstant.ChatLuong, "ion-ios-star-half"},
        {TypeConstant.LoaiXe, "ion-model-s"},
        {TypeConstant.PhongBan, "fa fa-building-o"},
        {TypeConstant.Tags, "ion-ios-pricetags-outline"},
    };

    var canManage = RoleList.GetAll().Any(User.IsInRole);
}

<a href="/Home/Dashboard" data-href="/Home/Dashboard" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon ion-ios-home-outline tx-20"></i>
        <span class="menu-item-label">Trang chủ</span>
    </div>
</a>

<a href="/Home/Index" data-href="/Home/Index/Home/EditAsset" class="br-menu-link asset asset-approved">
    <div class="br-menu-item">
        <i class="menu-item-icon ion-ios-list-outline tx-20"></i>
        <span class="menu-item-label">Tài sản</span>
    </div>
</a>

<a href="/Home/TaisanUnApproved" data-href="/Home/TaisanUnApproved/Home/EditAsset" class="br-menu-link asset asset-unapproved">
    <div class="br-menu-item">
        <i class="menu-item-icon ion-ios-list-outline tx-20"></i>
        <span class="menu-item-label">Tài sản chờ duyệt</span>
    </div>
</a>

<a href="/KiemKe/Index" data-href="/Index/KiemKe/Detail/KiemKe/NewOrEdit/" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon ion-ios-search tx-20"></i>
        <span class="menu-item-label">Kiểm kê</span>
    </div>
</a>

<a href="#" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
        <span class="menu-item-label">Danh mục</span>
        <i class="menu-item-arrow fa fa-angle-down"></i>
    </div><!-- menu-item -->
</a>
<ul class="br-menu-sub nav flex-column">
    @foreach (var item in listMenu)
    {
        var icon = "";
        icons.TryGetValue(item, out icon);
        icon = !string.IsNullOrEmpty(icon) ? icon : "ion-ios-folder-outline";

        <li class="nav-item">
            <a href="/Category/Index/@item" data-href="Index/Category/NewOrEdit" class="nav-link">
                <i class="menu-item-icon icon @icon tx-20 mr-1"></i>
                @item
            </a>
        </li>
    }
</ul>



@if (canManage)
{
    <a href="/Account/Employees" data-href="/Account/AddEmployee/" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon ion-person-stalker tx-20"></i>
            <span class="menu-item-label">Quản lý người dùng</span>
        </div>
    </a>
}