@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">Có lỗi trong quá trình xử lý. Hãy đảm bảo bạn đã nhập đúng dữ liệu.</h2>
<h2 class="text-danger">Liên hệ Nguyễn Duy Khánh - 0934.596.696 để được hỗ trợ.</h2>

