@using DK.Web.Utilities
@using DK.Application.Models
@model DK.Web.Core.PagerViewModel
@{
    ViewBag.Title = "Danh sách tài sản";
    var searchModel = ViewBag.SearchModel as DK.Application.Models.TaiSanSearchModel;
}

<style>
    #frmSearch input[type="date"] {
        height: 39.6px;
    }

    #frmSearch label {
        margin-bottom: 0;
    }

    #frmSearch .search-item {
        margin-bottom: 10px;
    }

    .select2-results__option[aria-selected="true"] {
        display: none;
    }

    #searchBox .card-header a {
        display: inline-block;
        width: 100%;
        color: inherit;
    }

    #collapseExample {
        border-top: 1px dotted;
    }

    .collapse-icon {
        border-top: 1px dotted;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .dropdown-menu.show {
        z-index: 10000;
    }
</style>

@section Button {
    <a href="@Url.Action("Import")" class="btn btn-primary btn-sm pull-right"><i class="fa fa-upload"></i> Import</a>
}

<div class="card mt-2 mb-2 shadow-base" id="searchBox">
    <div class="card-body pb-0">
        @Html.Partial("_SearchForm", searchModel)
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    @Html.Partial("_Table", Model.Items)
                </div>
            </div>
            @Html.Partial("_PagerPartial", Model)
        </form>

        <div class="d-none">
            <form action="/Home/DeleteTaiSan" method="post" id="form-delete">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script>
        $(document).ready(function () {
            if (localStorage.getItem("displaySearchBox") === "true") {
                $('#collapseExample').addClass("show");
                $("#searchBox .collapse-icon a i").toggleClass("ion-chevron-down ion-chevron-up");
            }

            $(".select2").select2({ width: '100%' });

            $('#searchBox .collapse-icon a').click(function () {
                $("#searchBox .collapse-icon a i").toggleClass("ion-chevron-down ion-chevron-up");

                var displayStatus = $("#searchBox a i").hasClass("ion-chevron-up");
                localStorage.setItem("displaySearchBox", displayStatus);
            });

            $("#btnSearch").click(function () {
                $("#pattern").val(null);
                $("#frmSearch").submit();
            });
            $('.print-barcode').click(function () {
                if (confirm('Bạn chắc chắn muốn in mã vạch?')) {
                    $("#pattern").val('barcode');
                    $("#frmSearch").submit();
                }
            });
            $('.report').click(function () {
                $("#pattern").val($(this).data('pattern'));
                $("#frmSearch").submit();
            });
        });
    </script>
}

