@model DK.Web.Models.PagerModel
@{
    ViewBag.Title = "Danh sách tài sản";
    var searchModel = ViewBag.SearchModel as DK.Web.Models.TaiSanSearchModel;
}

<style>
    #frmSearch input[type="date"] {
        height: 39.6px;
    }
    #frmSearch label {
        margin-bottom: 0;
    }

    #frmSearch .search-item {
        margin-bottom: 10px;
    }
</style>

@section Button {
    <a href="@Url.Action("NewOrEdit")" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
}

@Html.Partial("_SearchForm", searchModel)

